@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

mark{
  background-color: #246666;
  padding: 8px;
  border-radius: 8px;
}

body {
  background: #0b1111;
}

/* header - começo- */
header {
  background-color: #222222;
  border-bottom: #246666 2px solid;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
}

.logo {
  display: flex;
  align-items: center;
  color: #fff;
}

.logo a {
  text-decoration: none;
  position: relative;
  color: #fff;
  display: flex;
}

.logo p {
  padding: 8px;
  font-family: 'aboreto';
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 15px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  padding: 1rem 2rem;
  position: relative;
}

/* hover navegação - começo - */
.nav-link:hover {
  color: #246666;
  transition: 0.6s;
}

.nav-link::before,
.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #246666;
  transform: scaleX(0);
  transition: all 0.6s ease;
}

.nav-link::before {
  top: 0;
  left: 0;
  transform-origin: left;
}

.nav-link::after {
  bottom: 0;
  left: 0;
  transform-origin: right;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}

/* hover navegação - final - */

/* Estilo button cv - começo - */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #246666;
  border-radius: 15px;
  padding: 10px 10px;
  cursor: pointer;
  transition: .6s;
}

.button:hover {
  background-color: #246666;
  filter: drop-shadow(0 0 10px #246666) contrast(2) brightness(2);
}

.button a {
  text-decoration: none;
  color: #246666;
}

.button:hover a {
  color: #fff;
  transition: .6s;
}

/* Estilo button cv - cfinal - */

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 1197px) {
  .nav-bar {
    padding: 1.5rem 4rem;
  }

  .nav-item {
    display: none;
  }

  .button {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .mobile-menu .button {
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    padding: 1rem 2rem;
    width: 50%;
  }

  .mobile-menu .button a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .open {
    display: block;
  }
}

/* header - final - */

#home {
  overflow-x: hidden;
  display: flex;
  margin: 60px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes slide {
  from{
    transform: translateX(0);
  }

  to{
    transform: translateX(-100%);
  }
}

#slide{
  display: flex;
  overflow: hidden;
  padding:30px 0px;
  white-space: nowrap;
}

#stacks{
  display: flex;
  animation: 15s slide infinite linear;
  color: #fff;
}

#stacks p{
  font-size: 2em;
  margin: 0 40px;
  font-family: 'aboreto';
}

#container {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-content: center;
  color: #fff;
  justify-content: space-around;
}

#container > div{
  padding: 10px;
}

#img {
  padding: 40px;
  border-radius: 100%;
  width: 100%;
}

#intro {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

#txt h1 {
  font-size: max(38px, 5vw);
}

#txt p {
  font-size: max(25px, 2vw);
}

span {
  color: #246666;
}

.sociais {
  width: 100%;
  font-size: 3em;
  margin: 8px;
  display: flex;
  justify-content: space-around;
  border: #246666 2px solid;
  border-radius: 20px;
}

.sociais i {
  color: #246666;
  padding: 12px;
}

#git:hover {
  color: orange;
  transition: .7s;
}

#link:hover {
  color: #0e76a8;
  transition: .7s;
}

#mail:hover {
  color: #004f74;
  transition: .7s;
}

#sobre{
  background: #242424;
}

#sobre h1{
  text-align: center;
  font-size: 2.5em;
  padding: .9em;
  color: white;
}

#sobre-content{
  color: #ffffffbc;
  width: 100%;
  padding: 12px;
}

#txt-apresentacao{
  border: 2px solid #246666;
  box-shadow: #24666660 5px 5px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
  background-color: #343434;
  padding: 8px;
  font-size: 1.1em;
  line-height: 1.4em;
  border-radius: 12px;
}

#txt-apresentacao h2{
  font-size: 2em;
  padding: 8px;
}

#txt-apresentacao p{
  max-width: 90%;
}

#cards-apresentacao{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 12px;
}

.card-info{
  border: 2px solid #246666;
  box-shadow: #24666660 5px 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2em;
  width: 350px;
  height: 230px;
  background-color: #343434;
  padding: 8px;
  border-radius: 12px;
}

.card-info a{
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  color: white;
  background-color: #246666;
  padding: 8px 2em;
  border-radius: 16px;
}

.card-info p{
  padding: 16px 0px;
}

.card-info h3{
  text-align: center;
}

.card-info li{
  padding: 12px 0px;
}

#Projetos h1{
  text-align: center;
  font-size: 3em;
  padding: 1em;
  color: white;
}

.project-post{
  border: 3px solid #246666;
  border-radius: 4px;
  max-width: 350px;
  padding: 8px;
  margin: 8px auto;
  color: #ffffffbc;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #343434;
}

.project-post img{
  filter: brightness(.9);
}

.project-post img:hover{
  transform: translatey(-6px);
  transition: all .5s;
  filter: brightness(1);
}

.project-post h3{
  font-size: 1.4em;
  text-decoration: underline #246666;
  padding: 6px;
}

.icons, .icons i{
  font-size: 1.4em;
  display: flex;
  justify-content: space-around;
}

.text-post h3{
  font-size: 1.8em;
}

#techs{
  font-size: 1.8em;
}

#Portfolio{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  margin: 2em 0em;
}

.btns-post{
  width: 100%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btns-post a{
  display: flex;
  text-decoration: none;
}

.btns-post i{
  padding: 0px 8px;
}

.repositorio{
  background-color: #246666;
  border: 2px solid #246666;
  border-radius: 12px;
  color: #0b1111;
  padding: 8px 12px;
}

.repositorio:hover{
  background-color: #242424;
  border: 2px solid #246666;
  border-radius: 12px;
  color: #246666;
  padding: 8px 12px;
  transition: all .5s;
}

.on-air{
  border: 2px solid #246666;
  color: #246666;
  background-color: #242424;
  border-radius: 12px;
  padding: 8px 12px;
}

.on-air:hover{
  border: 2px solid #246666;
  color: #0b1111;
  background-color: #246666;
  border-radius: 12px;
  padding: 8px 12px;
  transition: all .5s;
}

#habilidades{
  background-color: #242424;
}

#habilidades aside{
  border: 2px solid #246666;
}

#habilidades h1{
  text-align: center;
  font-size: 2.5em;
  padding: .9em;
  color: white;
}

#habilidades-content{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2em;
}

#engine-skills{
  background-color: #343434;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 8px;
}

.eng-task{
 background-color: #242424;
 border-radius: 8px;
 margin: 1em 0;
 padding: 8px;
 color: #fff;
 font-weight: 300;
 display: flex;
 align-items: center;
 max-width: 350px;
}

.eng-task h2{
  font-size: 1.4em;
}

.eng-task i{
  font-size: 2em;
  border-radius: 8px;
  padding: 8px;
  margin: 0 8px;
  background-color: #0b1111;
}

#skills{
  background-color: #343434;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  margin-top: 20px;
  max-width: 840px;
  justify-content: space-around;
}

.tecnologias{
  background-color: #242424;
 border-radius: 8px;
 margin: 1em 0;
 padding: 8px;
 color: #fff;
 font-weight: 300;
 justify-content: space-around;
 display: flex;
 width: 275px;
 align-items: center;
}

.tecnologias i{
  font-size: 2em;
  border-radius: 8px;
  padding: 8px;
  margin: 0 8px;
}

#txt-skills{
  width: 100%;
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 1.4em;
}

#contatos h1{
  text-align: center;
  font-size: 2.5em;
  padding: .9em;
  color: white;
}

#contatos-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#icons-contato{
  font-size: 2em;
  color: #246666;
  border: 4px solid #246666;
  border-radius: 100%;
  padding: .7em;
}

.card-contatos{
  border: 2px solid #246666;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 8px;
  width: 300px;
  height: 300px;
  color: #ffffffbc;
  border-radius: 15px;
  margin: 6em 1em;
  cursor: pointer;
}

@media (max-width: 600px) {
  .card-contatos{
    margin: 1em;
  }
}

.card-contatos a{ 
  color: #ffffffbc;
}

.link-contato p{
  text-align: center;
  padding: 12px;
  font-size: 1.3em;
}

footer {
  color: #ffffffbc;
  border-top: 2px solid #246666;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer h3, footer span{
  font-family: 'aboreto';
  font-weight: 100;
}